# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
etc/
lib/
lib64
parts/
sdist/
share/
var/
wheels/
pip-wheel-metadata/
pyvenv.cfg
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm Files
.idea/
.idea/.gitignore
.idea/gee.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# Jupiter Notebooks
.ipynb_checkpoints
